.huitui {
  position: absolute;
  top: 0;
  left:0;
}
.headers {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8cd1e2;
  padding: 0 20px;
}
.contents {
  min-height: 50px;
}
.contents p {
  margin: 0;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
}
.contents p i {
  font-size: 20px;
  color: #fff;
}
.contents p span {
  font-size: 20px;
  color: #fff;
}
.contents p:nth-child(n) {
  background: cyan;
}
.contents p:nth-child(2n) {
  background: skyblue;
}
.banners {
  min-height: 200px;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586686401732&di=395d4bb79094b0072370a0c343e54d4d&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-10-10%2F59dc72aa4eae3.jpg");
  background-size: 100%;
  background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1586686401732&di=395d4bb79094b0072370a0c343e54d4d&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F2017-10-10%2F59dc72aa4eae3.jpg') no-repeat;
}
